body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

div#root{
  width: 100vw;
  height: 100vh;
}

:root{
  --mainColor: #FF0000;
  --secondaryColor: #020203;
}

a{
  text-decoration: none;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}