body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

div#root{
  min-width: 1024px;
  min-height: 768px;
}

:root{
  --mainColor: #FF0000;
  --secondaryColor: #020203;
  --backgroundGrey: #FBFBFB;
  --greyText: #9B9EAC;
}

a{
  text-decoration: none;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

svg{
  overflow: visible;
}